
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

body{
  font-family: arial;
  background: $base03;
  color: $base0;
    -webkit-font-smoothing: antialiased;

}
* {
  box-sizing: border-box;
}
ul{
  min-height: 20px;
  max-width: 450px;
  background: #999;
  list-style:none;
  padding: 0;
  margin: 0;
  li{
    padding: 8px;
    -webkit-transition: all 0.2s;
    background: $base02;
    cursor:pointer;
    color: $blue;
    &:hover{
      background:darken($base02, 1.5%);
    }

    &.even {
      color: $red;
      background: lighten($base02, 1.5%);
      &:hover {
        background: lighten($base02, 3%);
      }
    }
    &:after{
      @extend %clear;
    }
  }
}
label{
  display:block;
}
h1,h2{
  //color: $cyan;
}
.fade {
  opacity: .5;
}
%clear {
  display: block;
  height: 1px; content: '';
  clear: both;
}
dl {
  margin: 0;
  width: 100%;
  &:after {
    @extend %clear;
  }
}
dt, dd {
  margin: 0;
  width: 50%;
  float: left;
}
dt {
  clear: left;
}
dd {text-align: right}
.next {
  opacity: 0.5;
}

@media all and (min-width: 481px) {
  #wrap {
    max-width: 960px;
    margin: 0 auto;
  }
  ul {
    width: 100%;
    max-width: 100%;
  }
  span {
    display: block;
    width: 40%;
    float: left;
  }
  dl {
    display: block;
    float: left;
    width: 60%;
    margin: 0;
  }
  dt {
    padding-left: 14px;
  }
  dt, dd {
    clear: none;
    width: 25%;
    min-height: 1px;
  }
}